{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}
{{ include('inc/navbar.html.twig')}}

<div class="container">
    <h1>Hello {{ trainer }}! ✅</h1>

</div>
{% endblock %}
