{% extends 'base.html.twig' %}

{% block title %}Trainer{% endblock %}

{% block body %}
{{ include('inc/navbarT.html.twig')}}


<div class="container">
<h1>Hello {{ app.user.username }} </h1>

</div>
{% endblock %}
