{% extends 'base.html.twig' %}

{% block body %}
    {% include asset('inc/navbarSA.html.twig') %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 mt-2 ml-auto mr-auto bg-light mt-2 p-1">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}