
{% extends 'base.html.twig' %}

{% block title %}CRUD : ROOT{% endblock %}
{% block body  %}
    {% include asset('inc/navbarSA.html.twig') %}
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}