{% extends 'base.html.twig' %}

{% block title %}Edit Training {% endblock %}

{% block body %}
    {% include asset('inc/navbarSA.html.twig') %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-light mr-auto ml-auto mt-2">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <a href="{{ asset('SuperAdmin/crudSA/TrainingCRUD/edit_spec/'~ tr.id) }}">Edit Trainer & Date</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
