{% extends 'base.html.twig' %}

{% block title %}SZS{% endblock %}

{% block body %}
<div class="col-sm-12 bg-info">
    <h3 class=" font-weight-bold text-center p-2">System zarządzania szkoleniami - dev</h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 bg-warning p-2 mt-1 mr-auto ml-auto text-center">
            <h4 >Root - Marcin</h4>
            <a href="{{ asset('/loginSA') }}">SuperAdminController</a>
        </div>

        <div class="col-sm-3 bg-warning p-2 mt-1 mr-auto ml-auto text-center">
            <h4 >Trainer - Wiktor</h4>
            <a href="{{ asset('/loginT') }}">Trainer Login</a>
             <a href="{{ asset('/registerT') }}">Trainer Register</a>
        </div>

        <div class="col-sm-3 bg-warning p-2 mt-1 mr-auto ml-auto text-center">
            <h4 >Testowy</h4>
            <a href="{{ asset('/test') }}">Test dla JOINA Training+trainer</a>
        </div>
    </div>
</div>
{% endblock %}
