{% extends 'base.html.twig' %}

{% block title %}SZS{% endblock %}

{% block body %}
<div class="col-sm-12 bg-info">
    <h3 class=" font-weight-bold text-center p-2">System zarządzania szkoleniami - dev</h3>
</div>
<div class="container">
    <div class="row">
        <div class="sm-4 bg-warning p-2 mt-1 text-center">
            <h4 >Root - Marcin</h4>

            <a href="{{ asset('/SuperAdmin/') }}">SuperAdminController</a>
            <a href="{{ asset('/loginSA') }}">SuperAdminController</a>
            <p>test:123456</p>
        </div>
    </div>
</div>
{% endblock %}
