{% extends 'base.html.twig' %}

{% block title %}My Courses{% endblock %}

{% block body %}
{{ include('inc/navbarT.html.twig')}}

{% if courses %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                {%if app.user.id == course.trainer %}
                    <tr>
                        <td>{{ course.name }}</td>
        
                        <td>{{ course.place }}</td>
    
                        <td>{{ course.date|date('d-m-Y')}}</td>

                        <td><button type="button" class="btn btn-success">Show more</button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h1>You have no courses :(</h1>
{% endif %}
{% endblock %}