{% extends 'base.html.twig' %}

{% block title %}Pomyślnie zapisałeś się na szkolenie{% endblock %}

{% block body %} <h1>Pomyślnie zapisałeś się na szkolenie!</h1>
    <br>
    <a class="btn btn-info" href="/szkolenia">Cofnij</a>
{% endblock %}