{% extends 'base.html.twig' %}
{% block title %}Nowe szkolenie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Dodaj nowe szkolenie</h1>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <br>
        <a href="/szkolenia" class="btn btn-info">Powrót</a>
    </div>

{% endblock %}