{% extends 'base.html.twig' %}

{% block title %}Pomyślnie wypisałeś się ze szkolenia{% endblock %}

{% block body %} <h1>Pomyślnie wypisałeś się ze szkolenia</h1>
    <br>
    <a class="btn btn-info" href="/profil">Cofnij</a>
{% endblock %}