    <nav class="navbar navbar-dark navbar-expand-sm bg-primary mb-3">
        <div class="collapse navbar-collapse" id="mainmenu">
        <a href="/" class="navbar-brand">Training Managment</a>
            <ul class="navbar-nav ml-5">
                <li class="navbar-item">
                    <a class="btn btn-primary" title="Start page" href="/trainer">Start </a>
                </li>
                 <li class="navbar-item">
                    <a class="btn btn-primary" title="My courses" href="/courses">My Courses</a>
                </li>
                <li class="navbar-item">
                    <a class="btn btn-primary" title="Logout" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>